.app {
  #header {
    .navbar {
      padding: .5rem 20px;
      .navbar-collapse {
        .navbar-nav {
          width: 75%;
          .nav-link {
            color: white;
            background-color: #25a499;
            text-align: center;
            flex-grow: 1;
            padding: 13px 1rem;
            border-right: 1px solid #333;
            &:last-child {
              border-right: none;
            }
          }
        }
        .search {
          width: 25%;
          padding: 6px 15px;
          background-color: #009482;
          display: inline;
          .input {
            width: 100%;
            padding-left: 30px;
            background: #25a499 url("./img/search-icon.png") no-repeat 10px 11px/15px; 
            color: white;
            &::-webkit-input-placeholder { /* Edge */
              color: white;
            }
            
            &:-ms-input-placeholder { /* Internet Explorer */
              color: white;
            }
            
            &::placeholder {
              color: white;
            }
          }
        }
      }
    }
    .search-mobile {
      width: 100%;
      padding: 8px 10px;
      background-color: #d2d2d2;
      display: none;
      .input {
        width: 100%;
        padding-left: 30px;
        background: white url("./img/search-icon-mobile.png") no-repeat 10px 11px/15px; 
        color: #999;
        &::-webkit-input-placeholder { /* Edge */
          color: #999;
        }
        
        &:-ms-input-placeholder { /* Internet Explorer */
          color: #999;
        }
        
        &::placeholder {
          color: #999;
        }
      }
    }
  }
  .container-fluid {
    .loadmore {
      width: 100%;
      color: black;
      background-color: white;
      padding: 15px 0;
      border: 1px solid rgba(0,0,0,.125);
    }
  }
  #footer {
    margin-top: 75px;
    background-color: #fafafa;
    border-top: 1px solid rgba(0,0,0,.125);
    padding: 25px 0;
    .navbar {
      padding: 0 21px;
      position: relative;
      .nav-link {
        font-weight: bold;
        color: #25a499;
        border-right: 1px solid #666;
        padding: 0 15px;
        &:last-child {
          border-right: none;
        }
      }
      .copyright {
        position: absolute;
        right: 20px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .app {
    #header {
      background-color: #25a499;
      .navbar {
        padding: 0;
        .navbar-collapse {
          .navbar-nav {
            width: 100%;
            .nav-link {
              color: white;
              background-color: #999;
              border-right: none;
            }
          }
          
          .search {
            display: none;
          }
        }
      }      
      .search-mobile {
        display: block;
      }
    }
    .container-fluid {
      padding: 0;
      .row {
        margin: 0;
      }
      .loadmore {
        margin: 10px 5px;
        width: calc( 100% - 10px );
      }
    }
    
    #footer {
      margin-top: 0;
      padding: 0;
      .navbar {
        .navbar-nav {
          width: 100%;
          .nav-link {
            padding: 5px 0;
            text-align: center;
            border: none;
          }
        }
        .copyright {
          position: static;
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}
