body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 10px 0;
}

a {
  padding: 0;
}

br {
  line-height: 10px;
}

.navbar {
  .navbar-brand {
    padding: 0;
    margin-right: 80px;
    
    .logo {
      width: 120px;
    }
  }
  .title-mobile {
    color: white;
    display: none;
  }
}

.container-fluid {
  padding: 0 20px;
  .row {
    margin: 0 -20px;
    .col-md-4 {
      padding: 0 20px;
      .card {
        margin-bottom: 45px;
        .card-body {
          padding: 20px 10px 15px 10px;
          .card-title {
            color: #25a499;
            margin-bottom: 20px;
          }
          .title-mobile {
            color: #25a499;
            display: none;
          }
          .card-img {
            object-fit: cover;
            width: 100%;
            height: 160px;
          }
          .date {
            color: #999;
            margin: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {

  .navbar {  
    .navbar-brand {
      margin-right: 0;
      
      .logo {
        width: 50px;
      }
    }
    .title-mobile {
      display: block;
    }
  }
  
  .container-fluid {
    .row {
      .col-md-4 {
        padding: 0;
        .card {
          margin-bottom: 0;
          border-left: none;
          border-right: none;
          border-radius: 0;
          .card-body {
            padding: 8px 10px 10px 10px;
            .card-img {
              float: left;
              width: 40%;
            }
            .card-title {
              display: none;
            }
            .card-text {
              float: left;
              width: 60%;
              padding-top: 20px;
              padding-left: 10px;
              .title-mobile {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}